<h1><%= @question.content %></h1>
<%= form_with url: submit_answer_question_path, method: :post do |form| %>
  <%= hidden_field_tag :question_id, @question.id %>
  <% @answers.each do |answer| %>
    <div>
      <%= radio_button_tag 'answer_id', answer.id %>
      <%= label_tag 'answer_id', answer.content %>
    </div>
  <% end %>
  <%= form.submit "Submit Answer", class: "btn btn-primary" %>
<% end %>
